@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@700&display=swap");
body{
    font-family: 'Anek Telugu', sans-serif;
    
}
header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    margin: 10px;
    border-radius: 5px;
}
nav{
    margin: 15px;
}
nav h2{
    font-weight: 700;
}
.top{
    display: flex;
}
nav ul{
    display:flex;
}
nav li{
    list-style: none;
    font-size: 17px;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    width: 870px;
    padding: 60px;
}
.describtion p{
    font-size: 14px;

}
.theme{
    border: 2px solid pink;
    border-radius: 50%;
    margin-left: 20px;
}
.theme img{
    width: 440px;
    height: 414px;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(orangered, orange);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 10px;
}
.mathod{
    margin: 80px;
    align-items: center;
}
.logos img{
    margin-left: 20px;
}
.heading{
    text-align: center;
}
.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection img{
    width: 300px;
    height: 256px;
}
.collection h2{
    font-weight: lighter;
}